<div class="row">
    <br />

    <hr />
    
    <form class="navbar-form" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Ara">
        </div>
        <button type="submit" class="btn btn-default text-center" >
            <a class="glyphicon glyphicon-search"></a>

        </button>
    </form>

  <!--/.search-->
    <br />
    <hr />
</div>
<div class="row">

    <button onclick="parent.location='https://drive.google.com/file/d/0B69Tmv7eKRhjVW44M1lsZ1FXaHc'" data-anchor="" class="btn btn-primary standard-button inpage-scroll inpage_scroll_btn">
        <span class="screen-reader-text">Kataloğu İncele</span>
      
    </button>
    <br/>
    
    <hr/>

    
</div>
<div class="row">
    <form action="/Blog/MailKayit" method="post">
    <label>E-MAİL ABONELİĞİ</label>
       <input type="text" name="email" placeholder="E-Mail adresiniz."/>
        <br/>
    <input type="submit" value="Kayit ol" class="btn btn-primary standard-button inpage-scroll inpage_scroll_btn"/>
    </form>
    <br />

    <hr />

</div>